@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
/* Global variables */
*, body  {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

.grid-container .sidebar {
  display: flex;
  flex-direction: column; }

h1 {
  font-family: "Montserrat", sans-serif; }

button,
input,
p {
  font-family: "Nunito", sans-serif; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  position: relative; }

.overlay {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2; }

#createChannel__container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
<<<<<<< HEAD
  padding: 30px;
  border-radius: 10px;
  z-index: 30;
  width: 100%;
  max-width: 520px; }
  #createChannel__container .fa-times {
    float: right;
    font-size: 2.5rem;
    color: #cfc3cf; }
    #createChannel__container .fa-times:hover {
      cursor: pointer; }
  #createChannel__container h1 {
    font-size: 2.5rem; }
  #createChannel__container p {
    font-size: 1.4rem;
    margin-top: 10px; }
  #createChannel__container .createChannel__form {
    display: flex;
    flex-direction: column; }
    #createChannel__container .createChannel__form .createChannel__input {
      height: 40px;
      margin-top: 5px;
      font-size: 1.4rem;
      padding-left: 5px;
      border-radius: 5px;
      border: 1px solid grey; }
      #createChannel__container .createChannel__form .createChannel__input::placeholder {
        font-size: 1.4rem;
        padding-left: 10px; }
    #createChannel__container .createChannel__form label {
      margin-top: 20px;
      font-size: 1.6rem; }
      #createChannel__container .createChannel__form label:first-child {
        margin-top: 10px; }
    #createChannel__container .createChannel__form span {
      font-size: 1.2rem;
      margin-top: 5px;
      color: #cfc3cf; }
    #createChannel__container .createChannel__form .createButton__container {
      width: 100%;
      display: flex;
      justify-content: flex-end; }
      #createChannel__container .createChannel__form .createButton__container #createChannelBtn {
        width: 100px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #cfc3cf;
        margin-top: 10px;
        background: #cfc3cf;
        font-family: "Lato", sans-serif;
        font-weight: 900;
        font-size: 1.4rem; }
        #createChannel__container .createChannel__form .createButton__container #createChannelBtn:hover {
          cursor: pointer; }
=======
  overflow-y: scroll;
  padding: 15px;
  font-size: 1.4rem;
  margin-bottom: 9rem;
}

.grid-container .text #messages {
  padding: 10px;
}
>>>>>>> 1aa076e4f9d3bfaae2c1171603e2a78503b30c69

#createDirectMessage__container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 30px;
  border-radius: 10px;
<<<<<<< HEAD
  z-index: 30;
  width: 100%;
  max-width: 920px; }
  #createDirectMessage__container .fa-times {
    float: right;
    font-size: 2.5rem;
    color: #cfc3cf; }
    #createDirectMessage__container .fa-times:hover {
      cursor: pointer; }
  #createDirectMessage__container .inner__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #createDirectMessage__container .inner__container h1 {
      font-size: 2.5rem; }
    #createDirectMessage__container .inner__container .createDirectMessage__form {
      width: 100%;
      max-width: 620px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      margin-top: 10px; }
      #createDirectMessage__container .inner__container .createDirectMessage__form .createDirectMessage__input {
        height: 50px;
        max-width: 520px;
        width: 100%;
        font-size: 1.6rem;
        padding-left: 5px;
        border-radius: 5px;
        margin-top: 10px;
        border: 1px solid grey; }
        #createDirectMessage__container .inner__container .createDirectMessage__form .createDirectMessage__input::placeholder {
          font-size: 1.4rem;
          padding-left: 10px; }
      #createDirectMessage__container .inner__container .createDirectMessage__form #createDirectMessageBtn {
        margin-left: 5px;
        width: 100px;
        height: 50px;
        border-radius: 5px;
        border: 1px solid #cfc3cf;
        margin-top: 10px;
        background: #cfc3cf;
        font-family: "Lato", sans-serif;
        font-weight: 900;
        font-size: 1.4rem; }
        #createDirectMessage__container .inner__container .createDirectMessage__form #createDirectMessageBtn:hover {
          cursor: pointer; }
    #createDirectMessage__container .inner__container table {
      width: 100%;
      max-width: 620px;
      margin-top: 20px;
      border-spacing: 0; }
      #createDirectMessage__container .inner__container table thead tr td {
        height: 20px;
        font-family: "Lato", sans-serif;
        font-size: 1.4rem;
        text-align: left; }
      #createDirectMessage__container .inner__container table tbody {
        display: flex;
        flex-direction: column;
        max-height: 400px;
        overflow-y: scroll; }
        #createDirectMessage__container .inner__container table tbody tr {
          border-bottom: 1px solid #cfc3cf; }
          #createDirectMessage__container .inner__container table tbody tr td {
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center; }
            #createDirectMessage__container .inner__container table tbody tr td .directMessage {
              font-size: 1.6rem; }
              #createDirectMessage__container .inner__container table tbody tr td .directMessage:before {
                content: '';
                display: inline-block;
                width: 8px;
                height: 8px;
                -moz-border-radius: 7.5px;
                -webkit-border-radius: 7.5px;
                border-radius: 7.5px;
                background-color: #2BAC76;
                margin-right: 5px; }
            #createDirectMessage__container .inner__container table tbody tr td .directMessage__time {
              font-size: 1.2rem;
              color: #cfc3cf; }
          #createDirectMessage__container .inner__container table tbody tr:hover {
            background: lightgrey;
            cursor: pointer; }
=======
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
}
>>>>>>> 1aa076e4f9d3bfaae2c1171603e2a78503b30c69

.grid-container {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: 220px 1fr; }
  .grid-container .header {
    grid-row: 1;
    grid-column: 2;
    background: white;
    border: 1px grey;
    border-style: hidden hidden solid hidden; }
  .grid-container .sidebar {
    grid-row: 1/11;
    grid-column: 1;
    background: #3f0e40; }
    .grid-container .sidebar .top__container {
      padding: 10px; }
      .grid-container .sidebar .top__container #group__name {
        color: white; }
      .grid-container .sidebar .top__container h2 {
        margin-top: 5px;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: white; }
        .grid-container .sidebar .top__container h2:before {
          content: '';
          display: inline-block;
          width: 8px;
          height: 8px;
          -moz-border-radius: 7.5px;
          -webkit-border-radius: 7.5px;
          border-radius: 7.5px;
          background-color: #2BAC76;
          margin-right: 5px; }
    .grid-container .sidebar .middle__container {
      margin-top: 5px;
      padding-top: 10px;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      color: #cfc3cf; }
      .grid-container .sidebar .middle__container .channel__header,
      .grid-container .sidebar .middle__container .directMessage__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px 0px 10px;
        margin-bottom: 5px; }
        .grid-container .sidebar .middle__container .channel__header h1,
        .grid-container .sidebar .middle__container .directMessage__header h1 {
          font-size: 1.6rem;
          font-weight: 700; }
        .grid-container .sidebar .middle__container .channel__header .fa-plus-circle,
        .grid-container .sidebar .middle__container .directMessage__header .fa-plus-circle {
          font-size: 1.6rem;
          cursor: pointer;
          color: white;
          text-decoration: none; }
      .grid-container .sidebar .middle__container .channels__container,
      .grid-container .sidebar .middle__container .directMessage__container {
        display: flex;
        flex-direction: column;
        font-size: 1.4rem;
        font-weight: 300; }
        .grid-container .sidebar .middle__container .channels__container .channel,
        .grid-container .sidebar .middle__container .channels__container .directMessage,
        .grid-container .sidebar .middle__container .directMessage__container .channel,
        .grid-container .sidebar .middle__container .directMessage__container .directMessage {
          padding: 5px 0px 5px 10px;
          width: 100%; }
          .grid-container .sidebar .middle__container .channels__container .channel .fa-hashtag,
          .grid-container .sidebar .middle__container .channels__container .directMessage .fa-hashtag,
          .grid-container .sidebar .middle__container .directMessage__container .channel .fa-hashtag,
          .grid-container .sidebar .middle__container .directMessage__container .directMessage .fa-hashtag {
            margin-right: 2.5px; }
          .grid-container .sidebar .middle__container .channels__container .channel:hover,
          .grid-container .sidebar .middle__container .channels__container .directMessage:hover,
          .grid-container .sidebar .middle__container .directMessage__container .channel:hover,
          .grid-container .sidebar .middle__container .directMessage__container .directMessage:hover {
            background: darkblue;
            cursor: pointer; }
        .grid-container .sidebar .middle__container .channels__container .directMessage:before,
        .grid-container .sidebar .middle__container .directMessage__container .directMessage:before {
          content: '';
          display: inline-block;
          width: 8px;
          height: 8px;
          -moz-border-radius: 7.5px;
          -webkit-border-radius: 7.5px;
          border-radius: 7.5px;
          background-color: #2BAC76;
          margin-right: 5px; }
        .grid-container .sidebar .middle__container .channels__container .directMessage:hover,
        .grid-container .sidebar .middle__container .directMessage__container .directMessage:hover {
          background: darkblue;
          cursor: pointer; }
  .grid-container .text {
    grid-row: 2/11;
    grid-column: 2;
    background: white;
    overflow-y: scroll;
    padding: 15px;
    font-size: 1.4rem; }
    .grid-container .text #messages {
      padding: 10px; }
  .grid-container #send {
    grid-row: 10/11;
    grid-column: 2;
    background: white;
    bottom: 0;
    text-align: center;
    position: sticky; }
    .grid-container #send input {
      margin-top: 2%;
      margin-bottom: 2%;
      height: 60px;
      width: 90%;
      border: 1px solid gray;
      border-radius: 10px; }
    .grid-container #send button {
      margin-top: 20px;
      height: 60px;
      width: 50px;
      border: 1px solid gray;
      border-radius: 10px; }
