

body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Lato', sans-serif;
        }

        .grid-container {
            height: 100vh;
            display: grid;
            grid-template-rows: repeat(10, 1fr);
            grid-template-columns: 220px 1fr;
        }

        .header {
            grid-row: 1;
            grid-column: 2;
            background: white;
            border: 1px grey ;
            border-style: hidden hidden solid hidden;
        }

        .text {
            grid-row: 2/11;
            grid-column: 2;
            background: white;
            overflow-y: scroll;
            padding: 15px;
        }
        #messages{
            padding: 10px;
            
        }
        .sidebar{
            grid-row: 1/11;
            grid-column: 1;
            background: rgb(68, 0, 68);
        }
        #send{
            grid-row: 10/11;
            grid-column: 2;
            background: white;
            bottom: 0;
            text-align: center;
            
            position: sticky;
        }
        input{
            margin-top: 2%;
            margin-bottom: 2%;
            height: 60px;
            width: 90%;
            border: 1px solid gray;
            border-radius: 10px;
        }
        button{
            margin-top: 20px;
            height: 60px;
            width: 50px;
            border: 1px solid gray;
            border-radius: 10px;

        }