<!doctype html>
<html>

<head>
    <title>Socket.IO chat</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .grid-container {
            height: 100vh;
            display: grid;
            grid-template-rows: repeat(10, 1fr);
            grid-template-columns: 250px 1fr;
        }

        .header {
            grid-row: 1;
            grid-column: 2;
            background: white;
            border: 1px grey ;
            border-style: hidden hidden solid hidden;

        }

        .text {
            grid-row: 2/11;
            grid-column: 2;
            background: white;
            overflow-y: scroll;
            
        }
        #messages{
            padding: 10px;
            
        }
        .sidebar{
            grid-row: 1/11;
            grid-column: 1;
            background: rgb(68, 0, 68);
        }
        #send{
            grid-row: 10/11;
            grid-column: 2;
            background: white;
            bottom: 0;
            text-align: center;
            
            position: sticky;
        }
        input{
            margin-top: 2%;
            margin-bottom: 2%;
            height: 60px;
            width: 90%;
            border: 1px solid gray;
            border-radius: 10px;
        }
        button{
            margin-top: 20px;
            height: 60px;
            width: 50px;
            border: 1px solid gray;
            border-radius: 10px;

        }
        
    </style>
</head>

<body>
    <div class="grid-container">
        <div class="header">

        </div>
        
        <div class="sidebar">

        </div>

        <div class="text">
                
                <ul id="messages"></ul>
        </div>
    
        <form id="send">
                <input type="text" id="input" autocomplete="off" />
                <button type="submit" id="send-btn">Send</button>
        </form>
    </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>

        const socket = io('http://localhost:4000')
        const messageContainer = document.getElementById('messages')
        const messageForm = document.getElementById('send')
        const messageInput = document.getElementById('input')

        const name = prompt('What is your name?')
        appendMessage(`You joined as ${name}`)
        socket.emit('new-user', name)

        console.log(name)

        socket.on('chat-message', data => {
            appendMessage(`${data.name}: ${data.message}`)
        })

        socket.on('user-connected', name => {
            appendMessage(`${name} connected`)
        })

        socket.on('user-disconnected', name => {
            appendMessage(`${name} disconnected`)
        })

        messageForm.addEventListener('submit', e => {
            e.preventDefault()
            const message = messageInput.value
            appendMessage(`${name}: ${message}`)
            socket.emit('send', message)
            messageInput.value = ''
        })

        function appendMessage(message) {
            const messageElement = document.createElement('div')
            messageElement.innerText = message
            messageContainer.append(messageElement)
        }


    </script>
</body>

</html>