<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
    <div class="back">
        <h1><a href="/chat">← Back to chat</a></h1>
    </div>
    <div class="container">
        <div class="profilePic">
            <div></div>
            <p>Profile photo</p>
            <img src="<%= typeof file != 'undefined' ? file : defaultPicture %>">
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <label for="btn" class="btn pic">Upload an image </label>
                <input id="btn" name="profilePicture" type="file" onchange="this.form.submit()" accept="image/png, image/jpeg" style="visibility: hidden;">
            </form>
            <form action="/delete" method="POST" enctype="multipart/form-data">
                <label for="up" class="btn dlt">Delete image </label>
                <input id="up" type="submit" onchange="this.form.submit()" class="btn" style="visibility: hidden;">
            </form>
        </div>
        <div class="profileInfo">
                <form action="/savedChanges" method="POST">
                    <div class="updateInfo">
                        <div>
                            <label for="name">Full name</label><br>
                            <input name="name" type="name" value="<%= name %>">
                        </div>
                        <div>
                            <label for="email">Email</label><br>
                            <input name="email" type="email" value="<%= email %>">
                        </div>
                    </div>
                    <div>
                        <label for="info" class="btn update">Save changes</label>
                        <input id="info" type="submit" onchange="this.form.submit()" class="btn" style="visibility: hidden;">
                    </div>
                </form>
        </div>
    </div>
    
</body>
</html>