<!doctype html>
<html>

<head>
    <title>Socket.IO chat</title>

    <link rel="stylesheet" href="styles/chat-style.css">
</head>

<body>
    <div class="grid-container">
        <div class="header">

        </div>
        
        <div class="sidebar">

        </div>

        <div class="text">
                
                <ul id="messages"></ul>
        </div>
    
        <form id="send">
                <input type="text" id="input" autocomplete="off" />
                <button type="submit" id="send-btn">Send</button>
        </form>
    </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/chat.js"></script>
    
</body>

</html>